
.cache/

# Ignore Node.js modules and binaries
/node_modules

# Ignore built files
/public

/static

# Ignore environment-specific .env files
.env.local
.env.development
.env.test
.env.production
.env.chatGPT
.evn

# Ignore cache and log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore TypeScript and JavaScript build output
/dist
/out

# Ignore Visual Studio Code settings
.vscode

*.env

*.json

*.lock

*.js

.prettierrc

/assets

/build

/.yarn

*.yarnrc


