@import '../../../styles/global.scss';

.container {
    display       : flex;
    margin        : 0 auto;
    width         : 100%;
    padding       : 10px;
    flex-direction: column;
    border-bottom : 1px solid #ccc;

    .category {
        margin     : 10px 0;
        font-weight: 900;
    }
    .subcategory {
        display: flex;
        margin: 10px 0;
        font-weight: 400;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: flex-end;
        border-bottom : 1px solid #ccc;
    }

}

.modalScroll {
    overflow-y: auto;
    height    : 100vh;
    width     : 100%;

    .removeDefaultButton {
        margin: 0 0 0 95%;

    }
}