@import './global.scss';

.wrapper {
  display       : flex;
  padding       : 10px;
  flex-direction: column;
  width         : 100%;

  .labelContainer {
    display        : flex;
    align-items    : center;
    margin-bottom  : 10px;
    flex-direction : row;
    flex-wrap      : nowrap;
    justify-content: flex-start;
  }

  .propertyContainer {
    display      : flex;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;

    .content1 {
      position: absolute;
      left    : 400px;
      top     : 20px;
    }

    .content2 {
      position: absolute;
      left    : 360px;
      top     : 20px;
    }
  }
}