@import './global.scss';

.wrapper {
  display       : flex;
  padding       : 10px;
  flex-direction: column;
  width         : 100%;

  .labelContainer {
    display        : flex;
    align-items    : center;
    margin-bottom  : 10px;
    flex-direction : row;
    flex-wrap      : nowrap;
    justify-content: flex-start;
  }

  .propertyContainer {
    display      : flex;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;

    .content1 {
      position: absolute;
      left    : 400px;
      top     : 10px;
    }

    .content2 {
      position: absolute;
      left    : 360px;
      top     : 10px;
    }

    .label {
      font-size: 12px;
    }

    .textField {
      width: 200px;
    }

    .buttonRemove {
      margin-top: 10px;

      button {
        background-color: $remove_button_color;
        color           : $text;
        font-size       : $base-font-size;
        font-weight     : bold;
        text-align      : center;
        text-decoration : none;
        cursor          : pointer;
        border-radius   : $border-radius;
        border          : none;
        transition      : $buttonTransition;
        width           : 30px;

        &:hover {
          background-color: rgba(141, 51, 15, 0.8);
        }
      }
    }

    .addContent {
      display: flex;

      button {
        background-color: $add_button_color;
        color           : $text;
        font-weight     : bold;
        text-align      : center;
        text-decoration : none;
        cursor          : pointer;
        border-radius   : $border-radius;
        border          : none;
        transition      : $buttonTransition;
        height          : 24px;
        width           : 60px;
      }

      button:hover {
        background-color: #2980b9;
      }
    }

    .buttonAdd {
      display: flex;
      margin : 0 10px 0 0;

      button {
        background-color: $add_button_color;
        ;
        color          : $text;
        font-size      : $base-font-size;
        font-weight    : bold;
        text-align     : center;
        text-decoration: none;
        cursor         : pointer;
        border-radius  : $border-radius;
        border         : none;
        transition     : $buttonTransition;
        width          : 30px;
      }

      button:hover {
        background-color: #2980b9;
      }
    }
  }

  .buttonAdd {
    display: flex;
    margin : 0 10px 0 0;

    button {
      background-color: $add_button_color;
      color           : $text;
      font-size       : $base-font-size;
      font-weight     : bold;
      text-align      : center;
      text-decoration : none;
      cursor          : pointer;
      border-radius   : $border-radius;
      border          : none;
      transition      : $buttonTransition;
      width           : 30px;
    }

    button:hover {
      background-color: #2980b9;
    }
  }
}

