@import './global.scss';

.wrapper {
  display       : flex;
  padding       : 10px;
  flex-direction: column;
  width         : 100%;

  .labelContainer {
    display        : flex;
    align-items    : center;
    margin-bottom  : 10px;
    flex-direction : row;
    flex-wrap      : nowrap;
    justify-content: flex-start;
  }

  .propertyContainer {
    display      : flex;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;

    .content1 {
      position: absolute;
      left    : 400px;
      top     : 20px;
    }

    .content2 {
      position: absolute;
      left    : 360px;
      top     : 20px;
    }

    .textField {
      width: 200px;
    }

    .addContent {
      display: flex;

      button {
        background-color: $add_button_color;
        color           : $text;
        font-weight     : bold;
        text-align      : center;
        text-decoration : none;
        cursor          : pointer;
        border-radius   : $border-radius;
        border          : none;
        transition      : $buttonTransition;
        height          : 24px;
        width           : 60px;
      }

      button:hover {
        background-color: #2980b9;
      }
    }
  }
}