@import './global.scss';

.container {
  width : 100%;
  margin: 80px 0 0 0;

  .inputTitleField {
    margin    : 10px 0 20px 0;
    text-align: center;

    input {
      width      : 50%;
      font-size  : 18px;
      font-weight: 700;
    }

    label {
      margin     : 0 20px 0 0;
      font-weight: 700;
    }
  }

  .images {
    height       : 49vh;
    width        : 100%;
    border       : 1px solid $base_color;
    border-radius: 10px;

  }

  .columns {
    display    : flex;
    align-items: center;
    flex-wrap  : wrap
  }

  .checkboxContainer {
    margin: 40px 5px 20px 5px;
  }

  .content {
    border       : 1px solid $base_color;
    border-radius: 10px;
  }
}

.clickDrop {
  z-index: 1;
}