.image {
    width: 100%;

    .upload_image {
        display       : flex;
        gap           : 10px;
        flex-direction: row;
        flex-wrap     : wrap;

        .uploadIcon {
            cursor: pointer;
            width : 100%;
        }

        .uploadIcon:hover {
            background-color: rgba(131, 128, 128, 0.452);
            height          : 100%;
            border-radius   : 5px;
        }

        .removeImages {
            position: absolute;
            top     : 200px;
            z-index : 1;
        }

        .removeImages:hover {
            background-color: aquamarine;
        }

        .image_item {
            img {
                border-radius: 5px;
            }

            .image_show {
                width     : 80px;
                height    : 80px;
                object-fit: cover;
            }

            .image_btn_wrapper {
                display        : flex;
                justify-content: space-evenly;


                img {
                    cursor: pointer;
                }

                img:hover {
                    background-color: rgba(131, 128, 128, 0.452);
                }
            }
        }
    }
}

.profileError {
    color: red;
}

.dropText {
    display: none;
}