@import '../../../styles/global.scss';

.editPropertyContainer {
  width    : 100%;
  max-width: 800px;
  margin   : 0 auto;
}

.categoryRow {
  border        : 1px solid #ccc;
  margin-bottom : 15px;
  padding       : 10px;
  display       : flex;
  flex-direction: column;
  flex-wrap     : nowrap;


  .categoryInfo {
    border         : 1px solid #ddd;
    padding        : 8px;
    margin-top     : 5px;
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    gap            : 10px;

    .description {
      height  : 200px;
      overflow: hidden;
    }

    div {
      margin-bottom: 5px;

    }

    img {
      width     : 200px;
      height    : 200px;
      object-fit: cover;
    }

    .buttonEdit {
      justify-content: center;

      button {
        margin          : 0 10px 0 0 ;
        border          : none;
        background      : none;
        cursor          : pointer;
        transition      : background-color 0.3s ease;
        background-color: text;

        img {
          width : 30px;
          height: 30px;
          margin: 0 0 0 10px;
        }

        img:hover {
          border-radius   : 5px;
          background-color: $edit_button_color;
        }
      }
    }
  }

  .subcategoryContainer {
    margin-top: 10px;

    .subcategoryRow {
      border         : 1px solid #ddd;
      padding        : 8px;
      margin         : 5px 0 0 30px;
      display        : flex;
      justify-content: space-between;
      align-items    : center;
      gap            : 10px;

      .description {
        height  : 200px;
        overflow: hidden;
      }

      div {
        margin-right: 10px;
      }

      img {
        width     : 200px;
        height    : 200px;
        object-fit: cover;
      }

      .buttonEdit {
        justify-content: center;


        button {
          display        : flex;
          margin          : 0 10px 0 0 ;
          border         : none;
          background     : none;
          cursor         : pointer;
          transition     : background-color 0.3s ease;
          justify-content: center;

          img {
            width : 30px;
            height: 30px;
            margin: 0 0 0 10px;
          }

          img:hover {
            border-radius   : 5px;
            background-color: $edit_button_color;
          }
        }
      }
    }
  }
}