@import '../../../styles/global.scss';

.postRow {
    border        : 1px solid #ccc;
    margin-bottom : 15px;
    padding       : 10px;
    display       : flex;
    flex-direction: column;
    flex-wrap     : nowrap;
    width: 100%;

    .postInfo {
        border         : 1px solid #ddd;
        padding        : 8px;
        margin-top     : 5px;
        display        : flex;
        justify-content: space-between;
        align-items    : center;
        gap            : 10px;

        .description {
            height  : 200px;
            overflow: hidden;
        }

        div {
            margin-bottom: 5px;
        }

        img {
            width     : 200px;
            height    : 200px;
            object-fit: cover;
        }

        .buttons {
            display       : flex;
            gap           : 10px;
            flex-direction: column;
            text-align    : center;

            button {
                img {
                    width : 30px;
                    height: 30px;

                }
            }
        }
    }
}