@import '../../styles/global.scss';

.icons {
    display        : flex;
    width          : 200px;
    justify-content: space-evenly;


    label {
        cursor: pointer;

        input[type="file"] {
            display: none;
        }
    }

    div {
        cursor: pointer;
    }

}